*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}

nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}


header:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

.container{
	max-width: 1064px;;
	margin: auto;
	text-align: center;
}

.header__flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 56px;
}

.header__items{
	display: flex;
	align-items: center;
	position: relative;
	z-index: 3;
}


nav{
	z-index: 3;
}


nav ul{
	display: flex;
	align-items: center;
}

nav ul li{
	padding-top: 6px;
	margin-left: 28px;
}

nav ul li a{
	color: #1C1B1B;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 26.4px; /* 165% */
}


.logo{
	position: absolute;
	z-index: 5;
	left: 50%;
	top: 16px;
	transform: translate(-50%,0px);
}

nav ul li:first-of-type{
	margin-left: 0px;
}


.burger__menu{
	display: none;
}

.header__items a {
	margin-left: 7px;
}

.header__items a:last-child{
	position: relative;
	right: 7px;
}

.header__items a:first-child img{
	display: block;
	width: 25px;
	height: 25px;
	
}










.fall__deaper{	
	background-color:  #F0EFEB;
	padding-top: 37px;
	padding-bottom: 50px;
	
}




.fall__deaper .container{
	display: flex;
	justify-content: space-between;
}

.falldeaper__body{
	text-align: left;
	margin-top: 81px;
	max-width: 534px;
}




.falldeaper__image{
	position: relative;
	right: -100px;
	top: 20px;
}


.falldeaper__body h3{
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 42px;
}

.falldeaper__body p{
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 26px;
}


.falldeaper__body a{
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	max-width: 129px;
	max-height: 36px;
	flex-shrink: 0;
	border-radius: 100px;
	border: 1px solid #000;
	background: #000;
	padding-top: 7px;
	padding-bottom: 9px;
	padding-left: 23px;
	padding-right: 23px;
}




.cards{
	min-height: 564px;
	padding-top: 60px;
	padding-bottom: 248px;
}

.cards article h3{
	color: #000;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 27px;
}


.cards .head__cards :nth-child(2){
	margin: auto;
	color: #000;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	max-width: 632px;
	margin-bottom: 47px;
}

.cards .head__cards p:last-of-type{
	color: #000;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 88px;
}

.cards h2{
	color: #000;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 52px;
}

.cards .container{
	display: flex;
	
}




.img__man{
	text-align: center;
}




.cards__body article{
	margin: auto;
	
}

.cards__body img{
	max-width: 314px;
	max-height: 429px;
	margin: auto;
	margin-bottom: 20px;
	
}

.cards__body :nth-child(2){
	color: #000;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	max-width: 156px;
	margin: auto;
	margin-bottom: 17px;
}

.cards__body p:last-of-type{
	color: #000;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 10px;

}


.cards__body a{
	color: #000;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-decoration-line: underline;
}

